/*-- scss:rules --*/

.highlight-peach {
  background-color: #FEBC94;
  padding: 0.0em 0.1em;
}

.highlight-yellow {
  background-color: #FAE3B4;
  padding: 0.0em 0.1em;
}

.highlight-pink {
  background-color: #FFC0CB;
  padding: 0.0em 0.1em;
}
